<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-type">
	<!--meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/ -->
	<meta content="en-US" http-equiv="Content-Language">
	<link href="@{'/public/stylesheets/reset.css'}" media="screen" rel="stylesheet" />
	<link href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.23.custom.css'}" media="screen" rel="stylesheet" />
	<link href="@{'/public/stylesheets/style.css'}" media="screen" rel="stylesheet" />
	<link href="@{'/public/stylesheets/jquery.qtip.css'}" media="screen" rel="stylesheet" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="@{'/public/javascripts/jquery-cookie.js'}"></script>
	<script src="@{'/public/javascripts/jquery-ui-1.8.23.custom.min.js'}"></script>
	


	<title>Project Planning</title>
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="content">
				<div class="logo-holder">
					<img src="@{'/public/images/logo.png'}" />
				</div>
				<span class="title">Project Planning & Staffing</span>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="wrapper">
			<div class="table">
				
				<div class="employees-regular">
					<div class="table-header">
						<div class="first-column">
							<span class="title">Employees</span>
						</div>
						<div class="column second-column">
								<div class="month-names">
									<span class="c">January</span>
									<span class="c">February</span>
									<span class="c">March</span>
									<span class="c">April</span>
									<span class="c">May</span>
									<span class="c">June</span>
									<span class="c">July</span>
									<span class="c">August</span>
									<span class="c">September</span>
									<span class="c">October</span>
									<span class="c">November</span>
									<span class="c">December</span>
								</div>
									<div class="weeks">
										#{list items:nStartWeek..nEndWeek, as:'i'}
												
												<span class="week">v${i}</span>
						
										#{/list}
									</div>
						</div>
						
						
					</div>
				</div>
                
                 
                
				
				 %{ for(emp in listEmployeeInfo) {
                   		if(emp.strEmpType=="regular") {

                        
                  %}
				<div class="table-row employee" id="employee-${emp.nEmpId}" >
					<div class="column person first-column">
						<div class="toggler"></div>
						<span class="name">${emp.strEmpName}</span>
						<div id="${emp.nEmpId}" class="remove" >Delete</div>
					</div>
					<div class="column second-column">
						#{list items:nStartWeek..nEndWeek, as:'i'}
						<div class="week" id="${i}"></div>
						
						#{/list}
					</div>
                </div>
                <div class="employee-info" style="display: block;" employeeId="${emp.nEmpId}" type="employee"> 
               		%{ for(proj in emp.listProjectInfo){ %}
                		<div class="table-row" projectId="${proj.nProjectId}" projectType="${proj.strProjectType}">
							<div class="column first-column">
								<span class="project-name">${proj.strProjectName}</span>
								<div class="remove-project" projId="${proj.nProjectId}">Delete</div>
							</div>
							<div class="column second-column">
								%{ for(week in proj.listWeekInfo){ %}
									
									<div class="week" id="${week.nWeekNum}">${week.nOccupied}</div>
								%{ 
									}
								%}
							</div>
                    	</div>
                	%{ } %}
                	<div class="table-row">
                		<div class="column first-column">
                			<div class="add-project"></div>
                			<select id="addProject" class="add-project">
                				<option value="0">Add project</option>
                				%{ for(project in listProjects) { %}
                					<option value="${project.projectId}">${project.projectName}</option>
                		    	%{ 
                					} 
                				%}
                				 
                			</select>
                		</div>
                		<div class="column second-column">
							<div class="week" id="week1"></div>
							<div class="week" id="week2"></div>
							<div class="week" id="week3"></div>
							<div class="week" id="week4"></div>
							<div class="week" id="week5"></div>
							<div class="week" id="week6"></div>
							<div class="week" id="week7"></div>
							<div class="week" id="week8"></div>
							<div class="week" id="week9"></div>
							<div class="week" id="week10"></div>
							<div class="week" id="week11"></div>
							<div class="week" id="week12"></div>
						</div>
                	</div>
            	</div>
                %{
				     } 
				    } 	
				  %}
				<div class="employees-subcontractor">
					<div class="table-header">
						<div class="first-column">
							<span class="title">Subcontractors</span>
						</div>
						<div class="column second-column ">
								<div class="month-names">
									<!-- <span class="c">January</span>
									<span class="c">February</span>
									<span class="c">March</span>
									<span class="c">April</span>
									<span class="c">May</span>
									<span class="c">June</span>
									<span class="c">July</span>
									<span class="c">August</span>
									<span class="c">September</span>
									<span class="c c2">October</span>
									<span class="c c9">November</span>
									<span class="c c13">December</span> -->
								</div>
									<div class="weeks">
										#{list items:nStartWeek..nEndWeek, as:'i'}
												
												<span class="week">v${i}</span>
						
										#{/list}
									</div>
							
						</div>
						
					</div>
				</div>
			
					 %{ for(emp in listEmployeeInfo) {
                  
                       if(emp.strEmpType=="contractor") {
                  %}
				<div class="table-row contractor" id="employee-${emp.nEmpId}">
					<div class="column person first-column">
						<div class="toggler"></div>
						<span class="name">${emp.strEmpName}</span>
						<div id="${emp.nEmpId}" class="remove" >Delete</div>
					</div>
					<div class="column second-column">
						#{list items:nStartWeek..nEndWeek, as:'i'}
						<div class="week" id="${i}"></div>
						
						#{/list}
					</div>
                </div>
                <div class="employee-info" style="display: block;" employeeId="${emp.nEmpId}" type="contractor"> 
               		%{ for(proj in emp.listProjectInfo){ %}
                		<div class="table-row"  projectId="${proj.nProjectId}" projectType="${proj.strProjectType}">
							<div class="column first-column">
								<span class="project-name">${proj.strProjectName}</span>
								<div class="remove-project" projId="${proj.nProjectId}">Delete</div>
							</div>
							<div class="column second-column">
								%{ for(week in proj.listWeekInfo){ %}

									<div class="week" id="${week.nWeekNum}">${week.nOccupied}</div>
								%{ 
									}
								%}
							</div>
                    	</div>
                	%{ } %}
                	<div class="table-row">
                		<div class="column first-column">
                			<div class="add-project"></div>
                			<select id="addProject" class="add-project">
                				<option value="0">Add project</option>
                				%{ for(project in listProjects) { %}
                					<option value="${project.projectId}">${project.projectName}</option>
                		    	%{ 
                					} 
                				%}
                				 
                			</select>
                		</div>
                		<div class="column second-column">
							<div class="week" id="week1"></div>
							<div class="week" id="week2"></div>
							<div class="week" id="week3"></div>
							<div class="week" id="week4"></div>
							<div class="week" id="week5"></div>
							<div class="week" id="week6"></div>
							<div class="week" id="week7"></div>
							<div class="week" id="week8"></div>
							<div class="week" id="week9"></div>
							<div class="week" id="week10"></div>
							<div class="week" id="week11"></div>
							<div class="week" id="week12"></div>
						</div>
                	</div>
            	</div>
                %{
				     } 
				    } 	
				  %}
			</div>
			<div id="bottom-bar">
				<div class="control-panel">

					<div class="control-panel-row">
						
						<div class="control-button" id="btnNewProject"> New Project </div>
						<div class="control-button" id="btnNewStaff">New Staff</div>
						<!-- <div class="control-button" id="btnNewContractor">New Contractor</div> -->
					</div>
					<div class="control-panel-row">
						<p>Choose a project to delete: </p>
						<select id="delProject" class="del-project">
							<option value="0">Delete project</option>
                				%{ for(project in listProjects) { %}
                					<option value="${project.projectId}">${project.projectName}</option>
                		    	%{ 
                					} 
                				%}
						</select>
					</div>
				</div>
				<div id="projectPopUp">

					
							<div class="form-row">
								 <span class="form-first-column"> Project Name </span>
								 <input type="text" name="txtProjectName" id="txtProjectName" class="form-second-column"></input>
								 <span id="txtProjectNameRequired">*</span>
							</div>
							<div class="form-row">
								<span class="form-first-column"> Project Type </span>
								<select id="ddProjectType" class="form-second-column"> 
								 	<option selected="selected" value="EXTERNAL"> External </option>
								 	<option value="INTERNAL"> Internal </option>
								 	<option value="INNOVATION"> Innovation </option>
								 	<option value="NONWORKING"> Not Working </option>
								 	<option value="MANAGEMENT"> Managment </option>
								 </select>
							</div>
							<div class="form-button">
								<input type="button" id="btnAddProject" value="Add Project" /> 
							</div>
				
				</div>

				<div id="staffPopUp">
					
							<div class="form-row">
								 <span class="form-first-column"> Staff Name </span>
								 <input type="text" name="txtStaffName" id="txtStaffName" class="form-second-column"></input>
								 <span id="txtStaffNameRequired">*</span>
							</div>
							<div class="form-row">
								<span class="form-first-column"> Staff Type </span>
								<select id="ddStaffType" class="form-second-column"> 
								 	<option selected="selected" value="regular"> Employee </option>
								 	<option value="contractor"> Contractor </option>
								 </select>
							</div>
							<div class="form-button">
								<input type="button" id="btnAddStaff" value="Add Staff" /> 
							</div>
				    
				</div>
				<div class="navigation">
					<ul>
						<li class="prev"><div></div></li>
						<li class="month-button button-0 active" id="10" startmon="0" startweek="0" endweek="0"><a class="linkButton" href="@{current}">Current</a></li>
						<li class="month-button button-1" id="1" startmon="1" startweek="1" endweek="13"><a class="linkButton" href="@{view1}">V1 - V13</a></li>
						<li class="month-button button-2" id="2" startmon="4" startweek="14" endweek="26"><a class="linkButton" href="@{view2}">V14 - V26</a></li>
						<li class="month-button button-3" id="3" startmon="7" startweek="27" endweek="39"><a class="linkButton" href="@{view3}">V27 - V39</a></li>
						<li class="month-button button-4" id="4" startmon="10" startweek="40" endweek="52"><a class="linkButton" href="@{view4}">V40 - V52</a></li>
						<li class="next"><div></div></li>
					</ul>	
				</div>

				
			</div>

			
			
		</div>
	</div>

	<!--HTML ELEMENTS FOR HIDDEN PARTS...-->	
    <input type="hidden" id="nWeekNumber" value="40">
    <input type="hidden" id="nQuarterNumber" value="1">
	<div id="hidden-change-status">
		<div class="tool-tip">
			<div class="content">
				<div class="arrow"></div>
				<a href="#" class="mark-as-unsure">Markera som osäker</a>
			</div>
		</div>
	</div>
</body>

<script src="@{'/public/javascripts/application.js'}"></script>

</html>