<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-type">
	<!--meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/ -->
	<meta content="en-US" http-equiv="Content-Language">
	<link href="@{'/public/stylesheets/reset.css'}" media="screen" rel="stylesheet" />
	<link href="@{'/public/stylesheets/style.css'}" media="screen" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<title>Project Planning</title>
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="content">
				<div class="logo-holder">
					<img src="@{'/public/images/logo.png'}" />
				</div>
				<span class="title">Project Planning & Staffing</span>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="wrapper">
			<div class="table">
				<div class="employees-regular">
					<div class="table-header">
						<div class="first-column">
							<span class="title">Employees</span>
						</div>
						<div class="column second-column month month-1">
							<span class="title">August</span>
							<span class="week">v31</span>
							<span class="week">v32</span>
							<span class="week">v33</span>
							<span class="week">v34</span>
						</div>
						<div class="column third-column month month-2">
							<span class="title">September</span>
							<span class="week">v35</span>
							<span class="week">v36</span>
							<span class="week">v37</span>
							<span class="week">v38</span>				
						</div>
						<div class="column fourth-column month month-3">
							<span class="title">October</span>
							<span class="week">v39</span>
							<span class="week">v40</span>
							<span class="week">v41</span>
							<span class="week">v42</span>				
						</div>
					</div>
				</div>
                
                 
                
				<div class="table-row">
					<div class="column first-column">
						<!-- <a href="#" class="add-employee regular">Add person</a> -->
						
						<select id="addEmployee">
                 
                  %{ for(emp in listEmployees) {
                  
                       if(emp.empType=="regular") {
                  %}
								<option value="${emp.empId}">${emp.empName}</option>
				  %{
				     } 
				     	}
				  %}
				  
				   <option value="new">New Employee</option>
				   </select>
					</div>
					<div class="column second-column">
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
					</div>
				</div>
				 %{ for(emp in listEmployees) {
                  
                      
                  %}
				<div class="table-row" id="employee-${emp.empId}">
					<div class="column person first-column">
						<div class="toggler"></div>
						<span class="name">${emp.empName}</span>
					</div>
					<div class="column second-column">
						<div class="week" id="week1"></div>
						<div class="week" id="week2"></div>
						<div class="week" id="week3"></div>
						<div class="week" id="week4"></div>
						<div class="week" id="week5"></div>
						<div class="week" id="week6"></div>
						<div class="week" id="week7"></div>
						<div class="week" id="week8"></div>
						<div class="week" id="week9"></div>
						<div class="week" id="week10"></div>
						<div class="week" id="week11"></div>
						<div class="week" id="week12"></div>
					</div>
                </div>
                %{
				     } 
				     	
				  %}
				<div class="employees-subcontractor">
					<div class="table-header">
						<div class="first-column">
							<span class="title">Subcontractors</span>
						</div>
						<div class="column second-column month month-1">
							<span class="title">August</span>
							<span class="week">v31</span>
							<span class="week">v32</span>
							<span class="week">v33</span>
							<span class="week">v34</span>
						</div>
						<div class="column third-column month month-2">
							<span class="title">September</span>
							<span class="week">v35</span>
							<span class="week">v36</span>
							<span class="week">v37</span>
							<span class="week">v38</span>				
						</div>
						<div class="column fourth-column month month-3">
							<span class="title">October</span>
							<span class="week">v39</span>
							<span class="week">v40</span>
							<span class="week">v41</span>
							<span class="week">v42</span>				
						</div>
					</div>
				</div>
				<div class="table-row">
					<div class="column first-column">
						<!-- <a href="#" class="add-employee subcontractor">Add person</a> -->
						<select id="addContractor">
                 %{ for(emp in listEmployees) {
                  
                       if(emp.empType=="contractor") {
                  %}
								<option value="${emp.empId}">${emp.empName}</option>
				  %{
				     } 
				     	}
				  %}
				   <option value="new">New Contractor</option>
				   </select>
					</div>
					<div class="column second-column">
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
						<div class="week"></div>
					</div>
				</div>
			</div>
			<div class="navigation">
				<ul>
					<li class="prev"><div></div></li>
					<li class="month-button button-1 active"><span>Jan-Mar</span></li>
					<li class="month-button button-2"><span>Apr-June</span></li>
					<li class="month-button button-3"><span>July-Sep</span></li>
					<li class="month-button button-4"><span>Oct-Dec</span></li>
					<li class="next"><div></div></li>
				</ul>	
			</div>
		</div>
	</div>

	<!--HTML ELEMENTS FOR HIDDEN PARTS...-->	
	<div id="hidden-change-status">
		<div class="tool-tip">
			<div class="content">
				<div class="arrow"></div>
				<a href="#" class="mark-as-unsure">Markera som osäker</a>
			</div>
		</div>
	</div>
</body>
<script src="@{'/public/javascripts/application.js'}"></script>
</html>