<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


<meta content="text/html; charset=utf-8" http-equiv="Content-type">
	<!--meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/ -->
	<meta content="en-US" http-equiv="Content-Language">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<title>Login</title>

<link href="@{'/public/stylesheets/login-box.css'}" rel="stylesheet" type="text/css" />
</head>

<body>


<div style="padding: 100px 0 0 250px;">


<div id="login-box">

<H2>Ayond</H2>
Project Planning
<br />
<br />
<div id="login-box-name" style="margin-top:20px;">Username:</div><div id="login-box-field" style="margin-top:20px;"><input name="username" id="user" class="form-login" title="Username" value="" size="30" maxlength="2048" /></div>
<div id="login-box-name">Password:</div><div id="login-box-field"><input name="password" id="pass" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
<br />

<br />
<br />
<div id="loginButton">

	<img  src="@{'/public/images/login-btn.png'}" width="103" height="42" style="margin-left:90px;" />
</div>






</div>

</div>
<script src="@{'/public/javascripts/application.js'}"></script>
</html>
